@import url('partials/variables.css');

/* Menu Lateral */
body, main{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

nav.side-nav {
    position: fixed;
    background-color: var(--color-primario);
    color: var(--color-fuente-primario);
    width: 17.5rem;
    height: 100%;
    padding-top: 20px;
    padding-left: 5px;
    overflow-x: hidden;
    transition: width .5s;
}

nav.side-nav.active {
    width: 5.2rem;
}

.side-nav i {
    font-size: 2.5rem;
}

.logo-container {
    display: flex;
    width: 17.5rem;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.logo-container .titulo {
    margin-left: 1.56rem;
}

.option-container * {
    outline: none !important;
}

.option-container {
    margin-top: 3.75rem;
}


.side-nav .actions{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 90%;
}


.option-container>li {
    margin-bottom: 0.4rem;
    margin-right: 5px;
}

.menuItem i {
    font-size: 1.5rem;
    margin: 1rem 1.56rem;
    margin-right: 2.2rem;
}

.menuItem span {
    text-align: left;
    white-space: nowrap;
}

.menuItem {
    display: flex;
    position: relative;
    align-items: center;
    text-align: left;
    color: var(--color-fuente-primario);
    background-color: var(--color-primario);
    width: 100%;
    border: none;
    border-radius: 30rem;
    outline: none;
}

.menuItem:hover,
.menuItem.active {
    color: var(--color-fuente-secundario);
    background-color: var(--blanco);
}

.menuItem.active::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: calc(-3rem - 5px);
    right: -5px;
    width: 3.2rem;
    height: calc(3rem + 5px);
    border-radius: 3rem;
    background-color: transparent;
    box-shadow: 1.51rem 1.8rem 0 .1rem var(--blanco);
}

.menuItem.active::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: calc(-3rem - 5px);
    right: -5px;
    width: 3.2rem;
    height: calc(3rem + 5px);
    border-radius: 3rem;
    background-color: transparent;
    box-shadow: 1.51rem -1.8rem 0 .1rem var(--blanco);
}


/* Fin menu lateral */

/*Empieza Seccion principal*/
main {
    height: 100vh;
    width: calc(100% - 17.5rem);
    margin-left: 17.5rem;
    transition: .5s;
}

main.active {
    width: calc(100% - 5.2rem);
    margin-left: 5.2rem;
}

main .wrapper{
    height: calc(100vh - 3.5rem);
    overflow: auto;
}

#btCambiarEmpleado{
    margin-right: 5px;
    width: calc(100% - 10px);
    outline: none;
}
/*Cabecera*/
#toggleMenuButton {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    margin: 0 .8rem;
}
#toggleMenuButton i {
    z-index: inherit;
}

.cabecera-seccion{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    height: 3.5rem;
    width: 100%;
}

.cabecera-seccion::before{
    content: '';
    position: absolute;
    bottom: 0;
    margin-left: 3rem;
    width: calc(100% - 3.5rem);
    height: 1px;
    border-radius: 1px;
    background-color: #000;
}

@media screen and (max-width: 768px){
    .cabecera-seccion::before{
        margin-left: 0;
    }
}


.cabecera-seccion .titulo{
    margin: 0;
    margin-left: .5rem;
}


#bt-usuario{
    border: none;
    border-radius: 1.25rem;
    padding-right: 1rem;
    justify-self: center;
    margin-right: 2.5rem;
    background-color: #ddd;
}

#bt-usuario:hover{
    background-color: #aaa;
}

#bt-usuario img{
    width: 2.5rem;
    border-radius: 50%;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--color-primario);
}
/* Fin cabecera */

/* Termina seccion pincipal */


/*Empieza seccion de admin*/
.grafico-ganancias{
    position: relative;
    height: 40vh;
    min-height: 300px;
    margin-top: 1rem;
}

.contenedor-periodos{
    text-align: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.contenedor-ingresos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ingresos{
    display: flex;
    align-items: flex-end;
    width: fit-content;
}

.ingresos .grafico{
    position: relative;
    width: 5rem;
    margin-right: .5rem;
    margin-top: 1rem;
}
.ingresos .valor{
    font-size: 1.7rem;
}

.ingresos .titulo{
    font-size: 1.2rem;
    margin: 0;
}

/* Termina seccion de admin */



@media screen and (max-height: 476px){
    .logo-container{
        display: none;
    }

    .side-nav{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    #btCambiarEmpleado{
        position: relative;
        margin-right: 5px;
        width: calc(100% - 10px);
        outline: none;
    }

    .option-container{
        margin: 0;
    }

    .side-nav .actions{
        justify-content: center;
        height: 100%;
    }
}


/* Responsive */
@media screen and (max-width: 800px){
    nav.side-nav{
        left: -17.5rem;
        transition: left .5s;
    }
    main{
        width: 100%;
        margin-left: 0;
    }

    main.active{
        margin-left: 17.5rem;
    }
    nav.side-nav.active{
        left: 0;
        width: 17.5rem;
    }
    
    #bt-usuario{
        margin-right: 0;
        padding: 0;
        background-color: transparent;
    }
    
    #bt-usuario span{
        display: none;
    }
}



/** Caja **/

.columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 3rem;
}


/** Revisar donde debo agregar **/

.fondo {
    background-image: linear-gradient(to top, var (--link-hover-color) 0%, var(--blanco) 100%);
}

.contenedor-sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 1);
    box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 1);
    background-color: var(--blanco);
    padding: 2rem;
    margin: 2rem;
    align-items: center;
}

.contenedor-sombra h2 {
    font-family: var(--fuente-primaria);
}

.boton-finalizar-turno {
    padding: 1rem;
    width: 20rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.input-caja {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-left: .5rem;
    outline: none;
}

#Recaudacion {
    font-size: 3rem;
    margin: 0 auto;
}

.recaudacion-boton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.recaudacion-boton h2 {
    font-size: 3.5rem;
}

.recaudacion-boton>div {
    display: flex;
    align-items: center;
    flex-flow: column;
}


/* Ventana Modal */

.cabecera-modal {
    justify-content: center;
}

.caja-efectivo {
    margin-left: 50px;
    border: 0;
}

.caja-debito {
    border-top: 0;
    border-right: 0;
    border-bottom: 1;
    border-left: 0;
}

.caja-credito {
    margin-left: 55px;
    border: 0;
    font-weight: bold;
}

.div-btn-modal {
    display: flex;
    justify-content: center;
}

.btn-modal {
    margin: 10px;
    background-color: var(--color-primario);
    color: white;
    padding: 8px;
}


/* Fin Ventana Modal */


/* Buscador + Tablas (VENTA) */

#ventas {
    padding: 15px;
}

.buscador {
    display: flex;
    justify-content: center;
}

.label-total-venta {
    font-weight: bold;
    font-size: 30px;
}

.tablas {
    max-height: 70%;
}

tbody {
    display: block;
    max-height: 55vh;
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}


/* Fin Buscador + Tablas (VENTA) */

.buscador-stock {
    margin-top: 10px;
    width: 50%;
    height: 3rem;
    font-size: 24px;
    margin-bottom: 3rem;
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#grid-adicionales {
    margin-top: 5rem;
}

.input-group {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#botonAdicional {
    margin-left: 1rem;
}

.contenedorBotonesStock {
    margin-top: 5rem;
    text-align: center;
}