@import url("assets/fonts/gs-icofont/style.css");
@import url("assets/styles/styles.forms.css");

@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'VarelaRound';
  src: url('assets/fonts/VarelaRound-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VarelaRound';
}


:root {
  --color-primario: #00324a;
  --color-secundario: #dcd2d5;
  --blanco: #fff;

  --fondo-boton-activo: #fff;
  --colot-fuente-boton-activo: #00324a;

  --fuente-primaria: "Quicksand";
  --color-fuente-primario: #fff;
  --color-fuente-secundario: #00324a;
  --color-fuente-terciario: #777;
  --link-hover-color: gray;

  --color-btn-inactivo: #aaa;
}

*,
*::before,
*::after {
  outline: none !important;
  box-sizing: border-box;
}

.boton {
  background-color: var(--color-primario);
  color: var(--color-fuente-primario);
  border: 2px solid var(--color-primario);
  border-radius: 5px;
  padding: 0.3rem 1.2rem;
  transition: box-shadow 0.5s ease;
}

.boton:hover {
  background-color: var(--fondo-boton-activo);
  color: var(--colot-fuente-boton-activo);
  box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.5);
}

.boton.active {
  background-color: var(--fondo-boton-activo);
  color: var(--color-fuente-boton-activo);
}

.boton:disabled {
  background-color: var(--color-btn-inactivo);
  border-color: #ddd;
}

.card {
  box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, .2);
  border-radius: 8px;
  padding: 10px;
}
