<footer id="piePagina" class="container-fluid d-flex flex-column">
  <div class="row d-flex flex-wrap justify-content-around">
    <div class="form-container col-lg-4">
      <form id="formContacto" class="pb-5 pt-5 container no-gutters">
        <legend>Contactanos</legend>
        <div class="row">
          <div class="col-lg-6">
            <app-input title="Nombre" placeholder="Ingrese su nombre" type="text" icon="icono-user"></app-input>
          </div>

          <div class="col-lg-6">
            <app-input title="Apellido" placeholder="Ingrese su apellido" type="text" icon="icono-user"></app-input>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-input title="Correo" placeholder="ejemplo@ejemplo.com" type="email" icon="icono-email"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-textarea title="Mensaje" placeholder="Ingrese su mensaje" icon="icono-mensaje"></app-textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="boton action-button col-12" type="submit">
              Enviar mensaje
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="contact-info text-center col-lg-4 py-5">
      <h3 class="titulo">Informacion de contacto</h3>

      <span><i class="gs-icon icono-home"></i> Argentina, Cordoba, Cordoba</span>
      <span><i class="gs-icon icono-mensaje"></i> gestor.stock@gestorstock.com</span>
      <span><i class="gs-icon icono-telefono"></i> +54 351 247 5444</span>
    </div>
  </div>
  <hr class="footer-divider" />
  <span class="footer-legend"
    >Sitio diseñado y desarrollado por Grupo 03 PP TSDWAD ISPC Cohorte
    2021©</span
  >
</footer>
