<footer id="piePagina" class="container-fluid d-flex flex-column">
  <div class="row d-flex flex-wrap justify-content-around">
    <div class="form-container col-lg-4">
      <form id="formContacto" class="pb-5 pt-5 container no-gutters">
        <legend>Contact us</legend>
        <div class="row">
          <div class="col-lg-6">
            <app-input title="Name" placeholder="Insert your name" type="text" icon="icono-user"></app-input>
          </div>

          <div class="col-lg-6">
            <app-input title="Last name" placeholder="Insert your last name" type="text" icon="icono-user"></app-input>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-input title="Email" placeholder="example@example.com" type="email" icon="icono-email"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-textarea title="Message" placeholder="Insert your message" icon="icono-mensaje"></app-textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button class="boton action-button col-12" type="submit">
              Send a Message
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="contact-info text-center col-lg-4 py-5">
      <h3 class="titulo">Contact Informacion</h3>

      <span><i class="gs-icon icono-home"></i> Argentina, Córdoba, Córdoba</span>
      <span><i class="gs-icon icono-mensaje"></i> gestor.stock@gestorstock.com</span>
      <span><i class="gs-icon icono-telefono"></i> +54 351 247 5444</span>
    </div>
  </div>
  <hr class="footer-divider" />
  <span class="footer-legend"
    >Site designed and developed by Group 03 PP TSDWAD ISPC Cohorte
    2021©</span
  >
</footer>
