.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#stock .table-container.visible {
  margin-top: 1rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#total.actions span {
  font-size: 2rem;
}

.search-container app-button app-icon {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .search-container {
    flex-direction: row;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .search-container app-button .text {
    display: none;
  }

  .search-container app-button app-icon {
    margin-right: 0;
  }

  search-bar {
    width: 100%;
  }

  #total.actions {
    justify-content: space-between;
    align-items: center;
  }
}
