<main class="pt-5">
    <div class="cart">
        <a routerLink="/tienda" class="back-button">
            <i class="fa-solid fa-arrow-left"></i>
            Volver
        </a>
        <h2>Productos en tu Carrito</h2>
        <section class="cart-products">
            <cart-product *ngFor="let prod of productos" [producto]="prod"></cart-product>
            <!-- <% productos.forEach(producto => { %>
                <%- include("../partials/cartProduct", {producto}) %>
            <% }) %> -->
        </section>
        <section class="cart-checkout">
            <div class="cart-checkout-total">
                <span>Total a pagar</span>
                <span class="cart-bold">
                    {{ total | currency }}
                    <!-- {{producto.valor}} -->
                </span>
            </div>
            <app-button bordered centered routerLink="/tienda/checkout">Ir a Pagar</app-button>
        </section>
    </div>
</main>