.cart {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100vh;
  font-size: 14px;
}

h2 {
  font-weight: 400;
}

.back-button {
  font-size: 20px;
  color: black;
  padding-top: 20px;
}
.back-button:visited {
  color: black;
}

.flechaIzquierda {
  width: 15.84px;
  height: 15.84px;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-checkout-total {
  display: flex;
  align-items: center;
  gap: 26px;
  margin: 26px 16px 0 0;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .cart-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 22px;
  }
}
