<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="index.html">
    <img src="assets/img/svg/logo.svg" alt="logo" class="logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="gs-icon icono-menu"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navlink" href="pag_info.html">Quiénes Somos?</a>
        <!--Se agrega el acceso a la pagina de informacion-->
      </li>
      <li class="nav-item">
        <a class="navlink" href="login.html">Ingresar</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="navlink dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Registrarse
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="registro-usuario.html">Para mí</a>
          </li>
          <li>
            <a class="dropdown-item" href="registro-empresa.html"
              >Para empresa</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
