@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/Quicksand-VariableFont_wght.ttf');
}

:root{
    --color-primario: #00324a;
    --color-secundario: #dcd2d5;
    --blanco: #fff;
    
    --fuente-primaria: 'Quicksand';
    --color-fuente-primario: #fff;
    --color-fuente-secundario: #00324a;
    --link-hover-color: gray;
}