<section class="cardContainer">

    <img class="imagenProducto" [src]="producto.imageURL" alt="img Producto">


    <div class="infoContainer">
        <p class="nombreProducto">{{producto.nombreProducto}}</p>
        <div class="puntajeContainer">
            <p class="precio">{{producto.valor | currency}}</p>
        </div>
        <div class="action">
            <number-input #cantidad class="inputCantidad" [value]="1" min="1" [max]="producto.cantidad"></number-input>
            <app-button centered bordered (onClick)="onClick()">Agregar al carrito</app-button>
        </div>
        <p class="descripcionProducto">
            Stock disponible: {{producto.cantidad}}
        </p>
    </div>
</section>