<main class="mb-2">
    <div class="col-lg-3 container-lg contenedor pt-3">
        <h3 class="title">Login</h3>
        <form [formGroup]="form" (ngSubmit)="login()" action="gestor.html" method="post"
            class="login-form container-fluid">

            <app-input-container [icon]="iconos.CORREO" labelFor="email" title="Correo"
                [errorMessage]="mailErrorMessage" [showErrorMessage]="mailValid">
                <input type="email" [formControl]="mail" class="form-control" formControlName="mail"
                    [class.border-danger]="mailValid" placeholder="Ingrese su correo electrónico" id="email">
            </app-input-container>

            <app-input-container [icon]="iconos.LLAVE" labelFor="password" title="Contraseña" 
                [errorMessage]="passwordErrorMessage" [showErrorMessage]="passwordValid">
                <input type="password" [formControl]="password" class="form-control" formControlName="password"
                [class.border-danger]="passwordValid" placeholder="Ingrese su contraseña" id="password">
            </app-input-container>

            <div class="link-container">
                <a class="formlink" routerLink="/registro">¿Todavia no esta registrado?
                    Registrese</a>
            </div>
            <div class="actions">
                <button [disabled] (click)="login()" btn btn-primary>INGRESAR</button>
                <!--revisar disabled vinculado a pass y mail + css vista diferenta-->
            </div>
        </form>
    </div>
</main>