<main class="mb-2">
  <div class="card">
    <h3 class="title">Login</h3>
    <form
      [formGroup]="form"
      action="gestor.html"
      method="post"
      class="login-form container-fluid"
      class="mb-2"
    >
      <text-input
        formControlName="username"
        title="Nombre de usuario"
        [valid]="fieldValid(form, 'username')"
        [errorMessage]="getErrorMessage(form, 'username')"
        [leadingIcon]="iconos.USUARIO"
      ></text-input>
      <text-input
        formControlName="password"
        title="Contraseña"
        [valid]="fieldValid(form, 'password')"
        [errorMessage]="getErrorMessage(form, 'password')"
        [leadingIcon]="iconos.LLAVE"
      ></text-input>

      <div class="actions">
        <app-button square bordered centered (onClick)="onLoginClick()">INGRESAR</app-button>
      </div>
    </form>
  </div>
</main>
