
.contenedor {
    background-color: #DCD2C5;
    margin: 50px auto;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.12);
    padding: 50px 30px;
}

.title {
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.contenedor .title {
    text-align: center;
}

.sub-title {
    color: grey;
    margin-bottom: 50px;
}

.login-form {
    display: flex;
    flex-flow: column;
}

.login-form .actions button,
.action-button {
    border: none;
    color: #fff;
    background-color: #00324A;
    align-self: flex-end;
    justify-self: end;
    padding: 10px 20px;
}

.login-form .actions {
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-container {
    position: relative;
    display: flex;
    background-color: #00324A;
    align-items: center;
    margin-bottom: 30px;
}

.input-container i {
    color: #fff;
    margin: 0 7px;
    font-size: 16px;
    flex-grow: 0.2;
    text-align: center;
}

.input-container input,
.input-container select {
    font-size: 0.9rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 0;
    height: 2rem;
}

.formlink {
    background: none;
    border: none;
    color: #00324A;
    text-align: left;
    font-weight: bold;
    outline: none!important;
}

.formlink:hover {
    color: gray;
}

.link-container {
    position: relative;
}

.drop-menu {
    position: absolute;
    top: -8px;
    right: -60%;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.drop-menu::after {
    content: " ";
    position: absolute;
    top: 30%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.hidden {
    display: none;
}


/* Termina login y registro */

