.contenedor-dashboard {
  display: flex;
  height: 100vh;
}

.menu {
  width: 300px;
  height: 100%;
  background: var(--color-primario);
  position: fixed;
  left: -300px;
  top: 0;
  overflow-y: auto;
  padding: 0;
  border-right: 1px solid #e6e6e6;
  z-index: 100;
}

.toggle {
  color: var(--color-primario);
  font-size: 1.5rem;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.content {
  position: relative;
  left: 0;
  width: 100%;
}

.dashboard-body {
  margin: 8px;
}

.menu, .content {
  transition: left 0.6s cubic-bezier(.32,1.01,.73,1);
}

.menu.active {
  left: 0
}

.content.active {
  left: 300px;
}


.cabecera {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 15px;
}

.divisor {
  position: absolute;
  bottom: -2px;
  width: calc(100% - 16px);
  height: 2px;
  background: var(--color-primario);
  margin-left: 8px;
}

.cabecera h1 {
  font-size: 1.7rem;
  color: var(--color-primario);
  margin: 0;
}


@media screen and (min-width: 768px) {
  .menu {
    position: relative;
    left: 0;
  }

  .menu.active, .content.active {
    left: 0;
  }

  .menu.active {
    width: 70px;
  }

  .menu, .content {
    transition: width 0.6s cubic-bezier(.32,1.01,.73,1);
  }

  header.cabecera h1, header.cabecera .divisor {
    display: none;
  }
}