<article class="card-producto">
    <a [routerLink]="link">
        <img [src]="product.imageURL" alt="imagen del producto">
        <div class="contenido">
            <div class="contenedor-titulo">
                <h4 class="titulo">
                    {{ product.nombreProducto }}
                </h4>
            </div>
            <div class="contenedor-precio">
                <p class="precio">
                    {{ product.valor | currency}}
                </p>
            </div>
        </div>
    </a>
</article>