<section id="hero-products" class="hero-products-container">
    <article id="combo-disney" class="hero-product">
        <div class="contenido">
            <img src="../../../../assets/img/img_tienda/img-combo-disney.png" alt="Imagen del combo Disney+ y Star+">
            <div class="texto">
                <h3 class="hero-product-titulo">50% off en Combo Plus</h3>
                <p class="hero-product-descripcion">
                    canjeando puntos
                </p>
            </div>
        </div>
    </article>
    <article id="combo-hbo" class="hero-product">
        <div class="contenido">
            <img src="../../../../assets/img/img_tienda/img-combo-hbo.png" alt="Imagen del combo Disney+ y Star+">
            <div class="texto">
                <h3 class="hero-product-titulo">50% off en Combo Plus</h3>
                <p class="hero-product-descripcion">
                    canjeando puntos
                </p>
            </div>
        </div>
    </article>
</section>
