<p>registro works!</p>
<div class="container">
    <app-input name="emailR" id="emailR" title="Email" placeholder="Ingrese su Email" type="text" icon="icono-email"></app-input>

    <app-input type="password" title="Password" name="Password" placeholder="Ingrese su contraseña" icon="icono-user" id="password"></app-input>


    <app-input type="textarea" title="Textarea" icon="icono-mensaje" name=""></app-input>

    <app-input type="select" title="Select" icon="icono-user" name="select" placeholder="Selecione la opción"></app-input>



</div>