<main>
    <!-- modifique container como contenedor ("deje container como clase de bootstrap") para que se vuelva responsive-design asi no hay problema -->
    <div class="col-xl-7 container contenedor pt-3">
        <h3 class="title">Registro</h3>
        <!-- con la propiedade container-fluid de bootstrap nos aseguramos de un formulario de ancho de la ventan completa -->
        <form name="formRegistro" method="post" class="login-form container-fluid">

            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <span>Nombre</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container">
                            <i class="icono-user"></i>

                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input class="form-control" name="nombre" id="nombreR" pattern="^[^0-9]{2,40}$"
                                title="El nombre debe contener mas 2 caracteres y no contener numeros" type="text"
                                required placeholder="Ingrese su nombre">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <span>Apellido</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container ">
                            <i class="icono-user"></i>
                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input class="form-control" name="apellido" id="apellidoR" pattern="^[^0-9]{2,40}$" type="text"
                                title="Debe contener mas de 2 caracteres" required
                                placeholder="Ingrese su apellido">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6">
                        <span>Correo</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container">
                            <i class="icono-email"></i>

                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input class="form-control" name="correo" id="correoR" pattern="^[^@]+@[^@]+$" type="email" required
                                placeholder="Ingrese su correo electrónico" title="Debe contener @">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>

                    <!-- cambiar icono -->
                    <div class="col-6">
                        <span>Fecha de nacimiento</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container ">
                            <i class="icono-calendar"></i>
                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input id="fechaNacimiento" class="form-control" name="nacimiento"
                                title="Debe contener 2 digitos para el dia, 2 para el mes y 4 para el año"
                                type="date" required placeholder="Ingrese su correo electrónico">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-6">
                        <span>Pais</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container">
                            <i class="icono-world"></i>
                            <select name="pais" id="dropPais" class="form-control" required>
                                <option value="" disabled selected>Seleccione un pais</option>
                            </select>
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <span>Provincia</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container ">
                            <i class="icono-world"></i>
                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input class="form-control" name="provincia" pattern="^[^0-9]+$" type="text"
                                title="Debe contener mas de 1 caracter" required placeholder="Ingrese su provincia">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <span>Contraseña</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container">
                            <i class="icono-key"></i>

                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input class="form-control" name="contraseña" pattern="^[0-9a-zA-Z]{4,256}$"
                                title="Debe contener entre 4 y 256 caracteres, letras mayusculas, minusculas y numeros"
                                type="password" required placeholder="Ingrese su contraseña">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <span>Confirmar contraseña</span>
                        <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                        <div class="form-group input-container ">
                            <i class="icono-key"></i>
                            <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                            <input name="confirmacion-contraseña" class="form-control" name="password" pattern="^[0-9a-zA-Z]{4,256}$"
                                type="password"
                                title="Debe contener entre 4 y 256 caracteres, letras mayusculas, minusculas y numeros"
                                required placeholder="Ingrese su contraseña nuevamente">
                            <div class="invalid-tooltip"></div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <div class="text-center">
                    <input type="checkbox" (click)='cargarEmpresa()' title="Soy Vendedor" name="vendedorR" value="vendedor" id="vendedorRegistro">                    
                    <label for="vendedor">Soy Vendedor</label>
                </div>
                <div *ngIf="mostrar">
                    <legend>Empresa</legend>
                    <div class="row">
                        <div class="col-6">
                            <span>Nombre</span>
                            <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                            <div class="form-group input-container">
                                <i class="icono-empresa"></i>

                                <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                                <input class="form-control" name="empresa-nombre" pattern="^[^]+$" type="text"
                                    title="Debe contener al menos 1 caracter" required
                                    placeholder="Ingrese el nombre de la empresa">
                                <div class="invalid-tooltip"></div>
                            </div>
                        </div>

                        <div class="col-6">
                            <span>Descripcion</span>
                            <!-- utilizamos form-group que es un grupo de formulario pero me apoyo de la caracteristica "responsive-design" de bootstrap -->
                            <div class="form-group input-container ">
                                <i class="icono-empresa"></i>
                                <!-- Tomamos la caracteristica form-control para estilo completo y relleno suficiente, pertence a bootstrap borre logininput pues no lo encontre en css avisenme si hice algo mal -->
                                <input class="form-control" name="empresa-descripcion" pattern="^[^]+$" type="text"
                                    title="Debe contener al menos 1 caracter" required
                                    placeholder="Ingrese la descripcion de la empresa">
                                <div class="invalid-tooltip"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="text-center">
                <a class="formlink" href="login.html">¿Ya esta registrado? Ingrese aqui</a>
            </div>
            <div class="actions">
                <!-- se reescriben algunas propiedades para mantener el estilo antiguo presentes en style.css-->
                <button id="btRegistrar" class="btn btn-primary">REGISTRARSE</button>
            </div>
        </form>
    </div>
</main>