<nav class="categorias">
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.HAMBURGUESA"></app-icon>
        <p>Almacén</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.BEBIDAS"></app-icon>
        <p>Bebidas</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.QUESO"></app-icon>
        <p>Fresco</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.PERFUME"></app-icon>
        <p>Perfumeria</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.CASA"></app-icon>
        <p>Hogar</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.LIMPIEZA"></app-icon>
        <p>Limpieza</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.MASCOTA"></app-icon>
        <p>Mascotas</p>
    </a>
    <a class="navlink" routerLink="#">
        <app-icon [icon]="Iconos.CARRITO"></app-icon>
        <p>Otros</p>
    </a>
</nav>
