<nav class="categorias">
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/alimentos.svg" alt="Icono de la categoria Almacén">
        <p>Almacén</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/bebidas.svg" alt="Icono de la categoria Bebidas">
        <p>Bebidas</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/otros.svg" alt="Icono de la categoria Fresco">
        <p>Fresco</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/otros.svg" alt="Icono de la categoria Perfumeria">
        <p>Perfumeria</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/otros.svg" alt="Icono de la categoria Hogar">
        <p>Hogar</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/otros.svg" alt="Icono de la categoria Limpieza">
        <p>Limpieza</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/otros.svg" alt="Icono de la categoria Mascotas">
        <p>Mascotas</p>
    </a>
    <a class="navlink" href="#">
        <img src="../../../../assets/img/svg/tienda/otros.svg" alt="Icono de la categoria Otros">
        <p>Otros</p>
    </a>
</nav>
