<span>{{ title }}</span>
<div class="form-group input-container">
  <i class="gs-icon {{ icon }}"></i>

  <input *ngIf="type!=='select' && type!=='textarea' && type!=='password'"
    class="form-control"
    [name]="name"
    [id]="id"
    [title]="title"
    [type]="type"
    [required] = "required"
    [placeholder]="placeholder"
  />
  <select *ngIf="type==='select'"
    class="form-control"
    [name]="name"
    [id]="id"
    [title]="title"    
    [required] = "required"
    >
    <option disabled selected>{{placeholder}}</option>   
  </select>
  <textarea *ngIf="type==='textarea'"
    class="form-control"
    [name]="name"
    [id]="id"
    [title]="title"
    [required] = "required"
    [placeholder]="placeholder"     
    cols="30"
    >
  </textarea>
  <input *ngIf="type==='password'"
    class="form-control"
    [name]="name"
    [id]="id"
    [title]="title"
    [type]="type"
    [required] = "required"
    [placeholder]="placeholder"  
  >
</div>
