button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.7rem .8rem;
  color: var(--color-fuente-primario);
  background-color: var(--color-primario);
  border-radius: 3rem;
  border: none;
  text-decoration: none;
  width: 100%;
  line-height: 1;
}

button:disabled {
  background-color: rgb(103, 103, 103);
}

button:not(:disabled):hover {
  color: var(--color-fuente-secundario);
  background-color: var(--blanco);
}

.bordered {
  border: 1px solid var(--blanco);
}

.bordered:not(:disabled):hover {
  border: 1px solid var(--color-primario);
}

.inverted {
  color: var(--color-fuente-secundario);
  background-color: var(--blanco);
}

.inverted:not(:disabled):hover{
  color: var(--color-fuente-primario);
  background-color: var(--color-primario);
}

.inverted.bordered {
  border: 1px solid var(--color-primario)
}

.square {
  border-radius: 10px;
}

.centered {
  justify-content: center;
}