.tableFixHead {
  height: 100%;
  overflow-y: auto;
  padding: 2px;
}
.tableFixHead thead th {
  position: sticky;
  top: -2px;
  z-index: 1;
}
.tableFixHead tbody th {
  position: sticky;
  left: 0;
}

.tableFixHead > input {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.borde {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(0, 0, 0, 1);
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

table tr:last-child th:last-child {
  border-top-right-radius: 8px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

th,
td {
  padding: 8px 16px;
}

th {
  background: var(--color-primario);
  color: var(--color-fuente-primario);
}

table.bordered td{
  border: 1px solid var(--color-primario);
  border-left-width: 0;
  border-right-width: 0;
}

table.bordered th{
  border: 1px solid var(--color-primario);
}

table.bordered th:last-child {
  border-right: 1px solid var(--color-primario);
}

table.bordered th:first-child {
  border-left: 1px solid var(--color-primario);
}

table.bordered tr td:first-child {
  border-left-width: 2px;
}

table.bordered tr td:last-child {
  border-right-width: 2px;
}

table.bordered tr:last-child td {
  border-bottom-width: 2px;
}

table.alternated tr:nth-child(even) {
  background-color: #ddd;
}

table tr.selected {
  background-color: #aaa!important;
}

table tr input {
  display: contents;
}

table tr .editing input {
  display: block;
}

table tr .editing span {
  display: none;
}
