<main>
    <app-categories></app-categories>
    <app-hero-product></app-hero-product>
    <main id="seccion-principal">
        <section id="interes">
            <h2 class="titulo">Te puede interesar</h2>
            <div class="grid">
                <app-product-card></app-product-card>
                <!-- <article class="card-producto">
                    <a href="#">
                        <img src="" alt="imagen del producto">
                        <div class="contenido">
                            <div class="contenedor-titulo">
                                <h4 class="titulo">
                                    Nombre del producto2
                                </h4>
                            </div>
                            <div class="contenedor-precio">
                                <p class="precio">$180</p>
                                <span>PUNTOS- rEvIsAr</span>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="card-producto">
                    <a href="#">
                        <img src="" alt="imagen del producto">
                        <div class="contenido">
                            <div class="contenedor-titulo">
                                <h4 class="titulo">
                                    Nombre del producto3
                                </h4>
                            </div>
                            <div class="contenedor-precio">
                                <p class="precio">$320</p>
                                <span>PUNTOS- rEvIsAr</span>
                            </div>
                        </div>
                    </a>
                </article> -->
            </div>
        </section>        

        <section id="mas-vendidos">
            <h2 class="titulo">Mas vendidos</h2>
            <div class="grid">
                <article class="card-producto">
                    <a href="#">
                        <img src="" alt="imagen del producto">
                        <div class="contenido">
                            <div class="contenedor-titulo">
                                <h4 class="titulo">
                                    Nombre del producto
                                </h4>
                            </div>
                            <div class="contenedor-precio">
                                <p class="precio">$100</p>
                                <span>PUNTOS- rEvIsAr</span>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="card-producto">
                    <a href="#">
                        <img src="" alt="imagen del producto">
                        <div class="contenido">
                            <div class="contenedor-titulo">
                                <h4 class="titulo">
                                    Nombre del producto
                                </h4>
                            </div>
                            <div class="contenedor-precio">
                                <p class="precio">$100</p>
                                <span>PUNTOS- rEvIsAr</span>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="card-producto">
                    <a href="#">
                        <img src="" alt="imagen del producto">
                        <div class="contenido">
                            <div class="contenedor-titulo">
                                <h4 class="titulo">
                                    Nombre del producto
                                </h4>
                            </div>
                            <div class="contenedor-precio">
                                <p class="precio">$100</p>
                                <span>PUNTOS- rEvIsAr</span>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <app-categories></app-categories>
</main>