<div class="container">
  <div class="card">
    <search-bar
      searchMode="startsWith"
      searchResultMode="firstMatch"
      searchProperty="nombreProducto"
      triggerOnInput
      [caseSensitive]="false"
      [source]="stock"
      (searchDone)="onSearchDone($event)"
    ></search-bar>
  </div>

  <div class="card">
    <data-table
      #tablaStock
      [source]="stock"
      [columns]="stockColumns"
      tableStyle="bordered"
      [maxHeight]="300"
    ></data-table>
    <div class="actions">
      <app-button bordered square (onClick)="onAgregarProducto()">Agregar</app-button>
      <app-button bordered square [disabled]="!tablaStock.selectedItem" (onClick)="openModal()">Editar</app-button>
      <app-button bordered square [disabled]="!tablaStock.selectedItem" (onClick)="modalEliminar.isOpen = true">Eliminar</app-button>
    </div>
  </div>

  <div class="card" *ngIf="stock.length > 0 && tablaStock.selectedIndex != -1">
    <app-detalle-producto [producto]="tablaStock.selectedItem"></app-detalle-producto>
  </div>
</div>

<app-modal #modalEliminar>
  <h5>¿Esta seguro de eliminar el producto?</h5>
  <div class="confirmation">
    <app-button square bordered centered (onClick)="eliminarProducto()">Si</app-button>
    <app-button square bordered centered inverted (onClick)="modalEliminar.closeModal()">No</app-button>
  </div>
</app-modal>

<app-modal #modal>
  <fm-productos [producto]="tablaStock.selectedItem" (onSubmit)="onModalProductoSubmit($event)"></fm-productos>
</app-modal>