<div class="bg-light pt-5">    
    <main id="seccion-principal" class="bodyContainer" *ngIf="!cargando">
        <nav class="menuNav">
            <a class="backButton" routerLink="/tienda">
                <img class="flechaIzquierda" src="../../../../assets/img/img_tienda/Vector.png" alt="flecha">
                <p>Volver al listado</p>
            </a>
            <img class="flechaDerecha" src="../../../../assets/img/img_tienda/Vector (1).png" alt="flecha">
            <p>{{producto.tipoProd}}</p>
        </nav>
        <app-card-detail-product [producto]="producto"></app-card-detail-product>
        <section id="interes">
            <h2 class="titulo">Te puede interesar</h2>
            <div class="grid">
                <app-product-card *ngFor="let prod of productosInteres" [product]="prod"></app-product-card>                
            </div>
        </section>
    </main>
    <app-categories></app-categories>
    
</div>
